<h1>
	Editing Sub Event
	<% if can? :roster, @sub_event %>
		| <%= link_to 'Roster',roster_path(@sub_event) %>
	<% end %>
</h1>  

<%= render 'form' %>


<%#= link_to 'Show', @sub_event %> |
<%#= link_to 'Back', sub_events_path %>
