<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @preference_type.name %>
</p>

<%= link_to 'Edit', edit_preference_type_path(@preference_type) %> |
<%= link_to 'Back', preference_types_path %>
