<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.fname %> <%= @user.lname %>,</h1>
    <p>
      Thank you for signing up at The Patachou Foundation!  We are currently reviewing your application.
      <BR>
      You will be emailed after you have been approved.  
    </p>
  </body>
</html>