<h1>Listing Notifications</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col col-sm-3">Type</th>
      <th>Body</th>
      <th class="col col-sm-2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |n| %>
      <tr>
        <td><%= n.notification.notification_type %></td>
        <td><%= n.notification.body %></td>
        <td><%= link_to 'Delete', delete_user_notification_path(n), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
