<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron">
<h3><b>LET’S FIGHT HUNGER TOGETHER.</b></h3>

<p>Get involved by becoming a volunteer.

During the Fall of 2015, we will serve after-school meals and teach 

about healthy choices Monday-Thursday from 3:45pm-6:00pm.</p>

			<p>
				
        		<%= button_to new_user_registration_path, class: 'btn btn-primary btn-lg', method: 'get', data: { disable_with: "Please wait..." } do %>
                        <i class='glyphicon glyphicon-ok'></i> Sign Up!
                      <% end %>

			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		pic
	</div>

	<div class="col-lg-9">
		<p>Volunteers are the backbone of our organization. Becuase of this, people 

from all walks of life come together to serve nutritious meals every week 

at one of our serving sites. 

Each year, over 100 volunteers work to complete over 2,000 volunteer 

hours throughout the year, which provides an annual value of over 

$45,000 to The Patachou Foundation.

Do your part and sign up today.

Questions? Contact us at volunteer@thepatachoufoundation.org</p>
	</div>
</div>