<div class="row">
	<div class="col-lg-12">
		<div class="jumbotron">
			<h1>VOLUNTEERING AND GIVING</h1>

			<p>Do you want to volunteer? We would love to have your help with our mission of feeding children in our community impacted by the issues of homelessness and hunger. During the summer of 2015, we will be feeding children and teaching them about healthy habits Monday-Friday from 11:00am-1:30pm.</p>

			<p>
				
        		<%= button_to new_user_registration_path, class: 'btn btn-primary btn-lg', method: 'get', data: { disable_with: "Please wait..." } do %>
                        <i class='glyphicon glyphicon-ok'></i> Sign Up!
                      <% end %>

			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		<p>ALL PROFITS FROM PUBLIC GREENS URBAN CAFETERIA AND MICROFARM, NOW OPEN ON THE MONON TRAIL IN BROAD RIPPLE, WILL SUPPORT THE FOUNDATION WITH ITS PROFITS, THE ONLY RESTAURANT IN THE AREA TO DO THIS.</p>
	</div>

	<div class="col-lg-9">
		Stuff
	</div>
</div>