<%= month_calendar table: {class: "table table-bordered calendar"}, tr: {class: "calendar-row"}, td: {class: "day"}, events: @events do |date, events| %>
  <%= date.strftime("%d") %>

  <% events.each do |e| %>

    <div><%= link_to e.name, event_path(e) %></div><br>
  <% end %>

<% end %>
