<%= month_calendar table: {class: "table table-bordered calendar"}, events: @events do |date, events| %>

		<%= date.strftime("%d") %>
		<ul class="list-group calendar-list">
		<% events.each do |e| %>
			<li class="list-group-item calendar-list-item masterTooltip">
				<%= button_to event_path(e), method: 'get', class: 'btn btn-default btn-xs form-control' do %>
					<%= e.event_type.name %>
				<% end %>
			</li>
		<% end %>
		</ul>
<% end %>