<div class="row">
  <div class="col col-sm-4"><h1>Events</h1></div>
  <div class="pull-right" style="margin: 20px 15px 0 0"><%= generate_admin_link({title_text: 'New Event', path: new_event_path, css: 'btn btn-primary' }) %></div>
</div>

<%= render 'calendar' %>