// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td {
  height: 100px;
  width: 14.28%;
  font-size: 0.8em;
  text-align: left;
}

.event_listing {
  display: none;
}

.today {
  font-weight:bold;
  background-color:#FFFBB4 !IMPORTANT;	
}

.calendar-header, .calendar-header a {
	font-weight:bold;
}

.past, .prev-month {
	background-color:#eeeeee;
}